/* Definir la animación */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animación de escalamiento */
@keyframes scale-in {
  from { transform: scale(0.6); }
  to { transform: scale(1); }
}

/* Animación de entrada */
@keyframes blur-in {
  from { filter: blur(60px); }
  to { filter: blur(0); }
}


.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.6;
    animation: blur-in 1s ease-out; /* Aplicar la animación */
  }