.comfortaa_texto {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1px;
    font-style: normal;
  }

button {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1px;
    font-style: normal;
}

.pacifico-titulo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
  }

p {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1px;
    font-style: normal;
}