.container-image{
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
    margin-top: 30px; 
}

.image{
    height: 30em;
    width: 30em;
}

.mainContainer{
    display: flex;
    flex-direction: column;
}